.alerta {
    padding: 12px 15px;
   
    border-radius: 8px;
    margin: 12px auto;
    font-size: 14px;

    max-width: 360px;
    width: fit-content;
    text-align: center;
    
}

.alerta.erro {
    background-color: #fdecea;
    color: #b71c1c;
}

.alerta.sucesso {
    background-color: #e6f4ea;
    color: #1b5e20;
}

.oculto {
    display: none;
}
